@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

/*
palette: https://www.canva.com/colors/color-palettes/summer-splash/
#05445E
#189AB4
#75E6DA
#D4F1F4
*/

/*
  _____                _
 |  __ \              | |
 | |__) |___  ___  ___| |_
 |  _  // _ \/ __|/ _ \ __|
 | | \ \  __/\__ \  __/ |_
 |_|  \_\___||___/\___|\__|

 */

html,body {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

/*
  _____       _ _
 |_   _|     (_) |
   | |  _ __  _| |_
   | | | '_ \| | __|
  _| |_| | | | | |_
 |_____|_| |_|_|\__|

*/
body {
	background-color: #05445E;
	color: #D4F1F4;
	font-size: 1rem;
	font-family: 'Noto Sans JP', sans-serif;
}

header {
	background-color: rgb(3, 51, 71);
	border-bottom: 1px solid #189AB4;
	padding: 10px 15px;
	font-size: 1rem;
}

header nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav li {
	display: inline-block;
}

header .sep {
	width: 10px;
}

header .btn {
	font-size: 1.5rem;
}

main {
	padding: 0 15px 40px 15px; /* leave room for footer */
}

a {
	color: inherit;
	transition: all 0.2s ease;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 5px;
	border-top: 1px solid #189AB4;
	background-color: #D4F1F4;
	color: #05445E;
	font-size: 0.8rem;
}

footer #statusbar {
    display: flex;
    flex-direction: row;
}

.todo {
    border: 1px solid magenta !important;
}

/* navigation */

footer nav.paging {
    border-left: 2px solid #05445E;
}

nav.paging {
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    padding-left: 15px;
}

nav.paging a,
nav.paging span {
    padding: 0 5px;
    border-radius: 3px;
}
nav.paging a {
    text-decoration: none;
    background-color: #05445E;
    color: #D4F1F4;
}

nav.paging span.current {
    padding: 0 5px;
    font-weight: bold;
    border: 1px solid #05445E;
}

/* Global */

ul.listing {
	list-style: none;
	margin: 0;
	padding: 0 15px;
}

ul#list-tables a {
    text-decoration: none;
}

.disabled {
	opacity: 0.75;
	cursor: default;
}

table.grid {
    border-collapse: collapse;
    font-size: 0.9em;
}

table.grid th,
table.grid td {
    padding: 2px 5px;
    border: 1px solid #75E6DA;
}

table.grid th {
    background-color: rgb(3, 51, 71);
}

table.grid tbody tr:nth-child(even) {
    background-color: #189AB444;
}

table.grid th {
    font-weight: normal;
}
table.grid th .sort-btn {
    font-weight: bold;
    opacity: 0.5;
}
table.grid th span {
    padding: 0 15px;
}
table.grid th .sort-btn:hover,
table.grid th .sort-btn.active {
    opacity: 1;
}

/* widgets */
.btn {
	padding: 0 10px;
	border: 1px solid #75E6DA;
	border-radius: 5px;
	color: #75E6DA;
	transition: all 0.2s ease;
}

a:not(.disabled):hover,
.btn:not(.disabled):hover {
	opacity: 0.5;
}

.danger {
	color: red;
}