<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sql-Browser</title>

    <!-- vendors' styles -->
    {% style "/css/font-awesome/css/all.min.css" %}
    <!-- my styles-->
    {% style "/css/styles.css" %}
  </head>
  <body>
    <header>
      <nav>
          <ul>
              <li><a href="#prev" class="btn todo"><i class="fa fa-arrow-left"></i></a></li>
              <li><a href="#next" class="btn todo disabled"><i class="fa fa-arrow-right"></i></a></li>
              <li class="sep"></li>
              <li><a href="/" class="btn"><i class="fa fa-home"></i></a></li>
              <li><a href="/about" class="btn"><i class="fa fa-question-circle"></i></a></li>
          </ul>
      </nav>
    </header>

    <main id="main" class="content-area">
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <div id="statusbar">{% block status-bar %}All is OK{% endblock %}</div>
    </footer>

    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
