{% extends "base.html" %}

{% block content %}
<h1><i class="fa fa-list"></i> {{table-name}}</h1>

<table class="grid">
    <thead>
        <tr>
            {% for header in table-headers %}
            <th>{% sortable-header %} {{header}} {% endsortable-header %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table-content %}
        <tr>
            {% for column in row %}
            <td>{{column}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block status-bar %}
    {% if table-is-view? %}
        <div>Display of view, no paging available yet, and only sample of rows displayed.</div>
    {% else %}
        Total rows: {{total-rows|format-number}}
        <nav class="paging">
            {% paging %}
        </nav>
    {% endif %}
{% endblock %}