{% extends "base.html" %}

{% block content %}
<h1><i class="fa fa-table"></i> Tables</h1>
<ul id="list-tables" class="listing">
    {% for table in tables %}
    <li><a href="/browse/db/{{table.name}}">{{table.type|table-type->icon|safe}} {{table.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block status-bar %}
Tables count: {{tables|count|format-number}}
{% endblock %}